<div class="l-wrapper">
    <div class="fondo" style="background-image:url('../../../assets/img/bg.png')">
        <p class="font">{{ html[0] }}</p>
        
            <p class="font body-top">&nbsp;&nbsp;&nbsp;{{ html[4] }}</p>

                <p class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ html[6] }}</p>

                    <h1 class="title">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Hola,
                        <br>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Soy <div>J</div>osé,
                        <br>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Desarrollador Web.
                        <code class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ html[7] }}</code>
                    </h1>
                
                <p class="parrafo">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    Front End Developer / Back End Developer</p>
                
            <p class="font body-bottom">&nbsp;&nbsp;&nbsp;{{ html[5] }}</p>

        <p class="font">{{ html[1] }}</p>
    </div>

</div>