<div class="l-wrapper">
    <h2>Proyectos Personales y Trabajos Realizados</h2>
        <div class="cards">
            <div class="card">
                <div class="card__title">
                    <h4>Lima Cargo City</h4>
                </div>
                <div class="card__content">
                    <a href="https://www.lccespacios.com.pe/" target="_blank">
                        <img src="../../../assets/img/portafolio/lcc.png" alt="LCC">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__title">
                    <h4>Admin</h4>
                </div>    
                <div class="card__content">
                    <a href="https://www.admin.ver.pe" target="_blank">
                        <img src="../../../assets/img/portafolio/admin.png" alt="Admin">
                    </a>
                </div>
            </div>
    </div>
</div>