<div class="l-container">
    <div class="l-container__sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="l-container__content">
        
        <div class="fixed-theme">
            <div class="fixed-block">
                <p style="color:white; font-size:28px">Pro</p>
            </div>
            <div class="fixed-block">           
                <img style="cursor: pointer;" src="../assets/img/sol.svg" alt="sol">
            </div>
        </div>

        <div class="fixed-network">
            <img (click)="chatWhatsApp()" class="cursor" src="../assets/img/whatsapp.svg" alt="whatsapp">           
        </div>

        <div class="fixed-nav" id="nav">
            <div class="phone-sidebar">
                <img (click)="routerPerfil()" id="phoneSidebar1" class="cursor" src="../../../assets/img/perfil.svg" alt="Perfil">
                <p>Perfil</p>
                <img (click)="routerPortafolio()" id="phoneSidebar2" class="cursor" src="../../../assets/img/maletin.svg" alt="Maletin">
                <p>Portafolio</p>
            </div>
        </div>

        <div class="route-container" [@routeAnimation]="getDepth(myOutlet)">
            <router-outlet #myOutlet="outlet"></router-outlet>
        </div>

    </div>
</div>
