<div class="l-container">
    <div class="l-container__sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="l-container__content">
        
        <div class="fixed-theme">
            <div class="fixed-block">
                <p style="color:white; font-size:28px">Pro</p>
            </div>
            <div class="fixed-block">           
                <img src="../assets/img/sol.svg" alt="sol">
            </div>
        </div>

        <div class="fixed-network">
            <img (click)="chatWhatsApp()" class="cursor" src="../assets/img/whatsapp.svg" alt="whatsapp">           
        </div>

        <div class="fixed-nav" id="nav">
            <p>HOLA SOY NUEVO</p>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
