<div class="sidebar">
    <div class="sidebar__left">
        <img (click)="routerHome()" class="sidebar-hero cursor" src="../../../assets/img/logo.svg" alt="Logo">
    </div>
    <div class="sidebar__right">
        <img id="search" class="sidebar-image cursor" src="../../../assets/img/lupa.svg" alt="Lupa">
        <img (click)="routerPerfil()" class="sidebar-image cursor" src="../../../assets/img/perfil.svg" alt="Perfil">
        <img (click)="routerPortafolio()" class="sidebar-image cursor" src="../../../assets/img/maletin.svg" alt="Maletin">
        <img class="sidebar-image cursor" src="../../../assets/img/sol.svg" alt="Sol">
        <img class="sidebar-image cursor" id="hamburguer" src="../../../assets/img/hamburguesa.svg" alt="hamburguesa">
    </div>
</div>