<div class="l-wrapper">
    <div class="fondo" style="background-image:url('../../../assets/img/bg.png')">
        <p class="font">{{ html[0] }}</p>
        
            <p class="font body-top">&nbsp;&nbsp;&nbsp;{{ html[4] }}</p>

                <p class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ html[6] }}</p>

                    <h1 class="title">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        Sobre mí
                        <code class="font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ html[7] }}</code>
                    </h1>
                
                <p class="parrafo historia">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    Soy el menor de tres hermanos, nací en Ayacucho en 1998 realmente casi no<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    conozco este lugar, pareciera que mis padres sólo fueron a darme a luz <br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    Al año nos fuimos a vivir a lima, tiempo despues mi hermana tuvo un negocio<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    de Lan Center, dónde me empeze a preguntar como funciona las computadoras y<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    todo relacionado a ella, ese fue el motivo principal por el cual decidi estudiar<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    Ingeniería de Sistemas e Informática y seguir aprendiendo todo sobre la<br>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    tecnologías que se encuentras detrás de una aplicación web o movil.
                    
                </p>
                
            <p class="font body-bottom">&nbsp;&nbsp;&nbsp;{{ html[5] }}</p>

        <p class="font">{{ html[1] }}</p>
    </div>
</div>